<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.42.5"
      package="com.roamtouch.swiftee">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true" android:name="SwifteeApplication">
        <activity android:name=".BrowserActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:alwaysRetainTaskState="true"
                  android:configChanges="orientation|keyboardHidden">
              <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
        </activity>
		<activity android:name=".HowToActivity"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.roamtouch.settings.MiscListActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="roamtouch.intent.LANGUAGES" />
            </intent-filter>
        </activity>
       
       <activity android:name="com.roamtouch.settings.RegisterActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop" />
                  
       <activity android:name="com.roamtouch.settings.GestureEditor" /> 
       <activity android:name="com.roamtouch.settings.PracticeGesture" />        
       <activity android:name="com.roamtouch.settings.GesturesListActivity" />        
       <activity android:name="com.roamtouch.settings.GestureRecorder" />       
       <activity android:name="com.roamtouch.settings.Contacts" />          
       <activity android:name="com.api.twitter.TwitterActivity" />   
       <activity android:name="com.api.blogger.BloggerActivity" />      
       <activity android:name="com.api.facebook.FacebookActivity" 
       		android:configChanges="orientation|keyboardHidden"
       />   
       <activity android:name="com.roamtouch.settings.BrowserSettingActivity" />
       <activity android:name="com.roamtouch.view.WebPage" />   
           
       <activity android:name="com.api.twitter.OAUTH" android:label="@string/oauth_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="myapp" android:host="twitt" />
			</intent-filter>
		</activity>    
         
    </application>

<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7" android:maxSdkVersion="7"></uses-sdk>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
<uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
</manifest> 
