<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.06" package="com.roamtouch.swiftee">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".BrowserActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.roamtouch.settings.MiscListActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="roamtouch.intent.LANGUAGES" />
            </intent-filter>
        </activity>
       
       <activity android:name="com.roamtouch.settings.RegisterActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop" />
         
    </application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:targetSdkVersion="4" android:minSdkVersion="4"></uses-sdk>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 