/** CONTAINER **/
#container  {
	position: absolute;
	width: 100%;
	height: 100%;		
	left: 0px;
	bottom: 0px;	
}

	#container-header {
		position:relative;
		top:	0px; 			
		width:	100%;	
		height:	15px;
		font-size: 11px;		
		background-color: black;	
		/*border: 1px solid #FFFFFF;*/			
	}
	
		.header-left {
			position:absolute;	
			text-indent: 10px;			
			margin-top: 1px;		
			color: white;	
			font-size:10px;				
		}
		
		.header-right {
			position:absolute;		
			margin-top: 1px;
			right: 10px;
			color: white;								
		}	

/** FLOATING CURSOR **/
#fc-container {
	position: relative;	
	margin-top: 0; 
	margin-right: 0; 
	margin-bottom: 0; 
	margin-left: 0;
	padding: 0; 
	text-align: center;  
	width: 90%;
	left: 5%;
	height: 100px;	
	/*border: 1px solid #000000;*/	
}	

	#fc-left {
		float: left;
		width: 150px;
		height: 100%;				
		/*border: 1px solid #000000;*/
	}

		#fc-left img{	
			position: relative;	
			float: left;
			top: 10px;						
			height: 52px;			
			width: 110px;				
			/*border: 1px solid #000000;*/
		}	
		
		.thepower {
			float: left;
			text-align: center;		
			text-indent:5px;	
			font-size:8pt;
			color:#0086d0;
		}
	
	#fc-right {
		float: right;
		width: 150px;
		height: 100%;				
		/*border: 1px solid #000000;*/	
	}
	
		#padkite-online-header p {			
			text-align: left;		
			text-indent: 70px;			
			margin: 10px 0px 0px 0px;									
			height: 20px;							
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#b4df5b)); /* Chrome,Safari4+ */
			/*background-color: #CCFF99;*/
		}	
		
		#padkite-online-header img {
			position: absolute;
			top:5px;
			right:5px;
		}			
		
		#padkite-online-links {
			text-align: right;		
		}
		
		.pk-online-links {	
			font-size:13px;					
			color:#05abe0;
		}
	
	#fc-middle {
		padding: 0px 160px 0px 160px;
		margin: 0px;
		height: 100%;	
		/*border: 1px solid #000000;*/
	}
	
/** INPUT **/
#input-container	{
	position: absolute;
	width: 100%;
	height: 100px;	
	top: 120px;
	/*border: 1px solid #000000;*/
}

	#input-container input {		
		position:absolute;
		top:35px; 			
		width:90%;
		left:5%;
		right:5%;
		height:30px;
		text-align: left;
		font-size:20px;		
	}	

/** PANEL **/
#panel-container {
	position: absolute;
	width: 	100%;
	height: 50px;		
	top: 	220px;
	/*border: 1px solid #000000;*/
}
	
	.panel-link {
		position: 	relative;						
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,171,224,1)), color-stop(53%,rgba(194,229,239,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
		border: 	1px solid #05abe0;		
		-webkit-border-radius: 2.5px;
		-moz-border-radius: 2.5px;
		border-radius: 2.5px;				
		width:		90%;		
		left:		5%;
		right:		5%;
		height:		30px;							
		color: 			#000000;		
		text-decoration: none;		
		display: 		block;						
	}
	
	#panel-div {
		position: relative;	
		-webkit-border-radius: px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
		border: 	1px solid #05abe0;				
		width: 80%;
		height: 60%;		
		top: 17%;
		left: 10%; 
		right: 10%; 
		background: white;		
	}
	
	#cont-per {
		position: 	relative;	
		width: 100%;
		height: 100%;
		background-color: rgba(0,255,0,0);
	}
	
	#panel-text {
		position: 	relative;	
		width: 		100%;
		height: 	100%;
		margin-top: 1px;
		vertical-align: text-top;
		text-align: 	center;	
		font-family: 	sans-serif;	
		font-weight:	bold;
		font-size:		13px;		
		color: #b4b4b4;
	}
	
	
/** BODY **/
#body-container  {
	position: absolute;
	top: 280px;
	width: 90%;	
	left: 5%;
	right: 5%;
	height: 100px;	
	/*border: 1px solid #000000;*/	
}

	#body-left {	
		position: relative;	
		float: left;
		width: 30%;		
		height: 100%;				
		/*border: 1px solid #000000;*/
	}
		
		#body-my-header-left { 
			position: relative;
			text-align: left;
			text-indent: 5px;	
			margin-top: 0px;			
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 10px;			
			height: 20px;							
			font-size:13px;		
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4df5b), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
			/*border: 1px solid #000000;*/
		}
				
		#body-my-body-left {	
			position: relative;		
			top: 0px;					
			margin-top: 0px;			
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 10px;						
		}		
		
	#body-center {
		position: relative;
		padding: 0px 30% 0px 30%;
		margin: 0px;
		height: 100%;		
        /*border: 1px solid #000000;*/
	}
	
		#body-my-header-center {
			position: relative;
			text-align: 	left;
			text-indent: 	10px;	
			margin-top: 	0px;			
			margin-right: 	0px;
			margin-bottom: 	0px;
			margin-left: 	10px;			
			height: 		20px;				
			background: 	-webkit-gradient(linear, left top, right top, color-stop(0%,#b4df5b), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */		
			/*border: 1px solid #000000;*/
		}		
			
		
		#body-my-body-center {						
			top: 0px;					
			margin-top: 0px;			
			margin-right: 10px;
			margin-bottom: 0px;
			margin-left: 10px;						
		}
		
	
	#body-right {
		float: right;
		width: 30%;
		height: 100%;	
        /*border: 1px solid #000000;*/
	}
	
		#body-my-header-right {
			text-align: center;			
			margin-top: 0px;			
			margin-right: 0px;
			margin-bottom: 0px;
			margin-left: 10px;			
			height: 20px;				
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#b4df5b)); /* Chrome,Safari4+ */
			font-size:13px;	
			/*border: 1px solid #000000;*/		
		}	
		
		#body-my-body-right {													
			margin-top: 0px;			
			margin-right: 10px;
			margin-bottom: 0px;
			margin-left: 10px;						
			text-align: right;
		}

	.body-header {		
		position: relative;	
        top: 3px;	
		font-size: 13px;
	}   
		
/** REMOTE **/
#remote-container {
	position: absolute;	
	width: 100%;
	height: 70px;	
	bottom: 60px;
	/*border: 1px solid #000000;*/
}

	#remote-control {	
		position: relative;
		margin: auto;
		width: 40%;
		height: 100%;	
		text-align: center;		
	}		
	
	#remote-control p {		
		position: relative;
		margin-top: 0px;
		margin-bottom: 0px;		
	}
	
	#remote-control a {								
		position: relative;
		font-size: 13pt;		
	}
	
	#server-status {	
		position: relative;	
		top: 0;
		right: 0px;		
		font-size: 9pt;	
		color: red;								
	}

	#client-status{	
		position: relative;	
		top: 0;
		right: 0px;		
		font-size: 9pt;			
		color: red;								
		/*display: none;*/
	}	
	
/**Feedback container**/
#feedback-container {	
	position:absolute;								
	width:	100%;	
	height:	60px;
	bottom: 0px;
	text-align: center;		
	/*border: 1px solid #000000;*/
}

	.feedback-link {				
		bottom: 0px;
		font-size: 15px;			
	}	
	
/**Footer container**/
#footer-container {	
	position:absolute;								
	width:	100%;	
	height:	15px;
	bottom: 0px;	
	background-color: black;			
	/*border: 1px solid #000000;*/
}	

	.footer-text {	
		text-align: center;			
		margin-top: 1px;				
		margin-bottom: 0px;		
		color: white;	
		font-size:10px;				
	}	

/**GLOBAL**/	
.pklink {
	font-size:14px;				
	color:#05abe0;
} 
	
/* GRADIENT
http://www.colorzilla.com/gradient-editor/*/	