* {
	margin: 0; padding: 0;
}

body {
		margin: 20px;
		padding: 0px;
		background: url(bkg.gif) repeat;
		font: 16px arial, sans-serif; color:#666; }
		img{		border:none}

	pre {text-indent: 30px}

	h3	{font-size: 18px; padding: 10px 0}
#wrapper{background: #FFF; padding:20px; border-radius: 20px;-moz-border-radius: 20px;}
	#tabmenu {
		color: #000;
		border-bottom: 2px solid #666;
		margin: 12px 2px 0 0px;
		padding: 0px; height:40px;
		z-index: 1;
		padding-left: 10px ;}
		
#tabmenu ul {height:40px
		}
		
	#tabmenu li {	display: inline;list-style-type: none; }
		
		#tabmenu li a img{padding-top:17px}

		
		#tabmenu a {
		background: url(tab_over.png) no-repeat center bottom;padding:32px 10px 0px 10px;
		margin: 0;		text-decoration: none;}


	#tabmenu a.active {
		background: url(tab_active.png) no-repeat center top;padding:20px 10px 1px 10px;
		border-bottom: 3px solid #FFF;  height:40px;}

	#tabmenu a:hover {
	background: url(tab_active.png) no-repeat center top;padding:20px 10px 1px 10px;
		border-bottom: 3px solid #FFF;  height:40px;}


	#tabmenu a.active:hover {
		background: url(tab_active.png) no-repeat center top;padding:20px 10px 1px 10px;
		border-bottom: 3px solid #FFF;  height:40px;}

	#content {font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
		text-align: justify;
		background: #FFF;
		padding:20px;
		border: 1px solid #666;
		border-top: none;
		z-index: 2;	}

	#content a {
		text-decoration: none;
		color: #666; }

	#content a:hover { }
	#content li {padding:5px 0	;list-style-type: none;}	
	/** DOWNLOAD**/
	#down  {padding:20px
		}
	#down  ul {
		}
		
	#down  li {	display: block;list-style-type: none; border-bottom:1px solid #666;background: url(ico_down.png) no-repeat left CENTER;padding:10px 0px 10px 30px;}
	#down  li p.title ,#down li p.title a{font-size:11px;font-weight: bold ;clear:both}
	#down  li p.url ,#down  li p.url a{font-size:9px;font-weight: normal;clear:both}
	#down  li p.date{font-size:9px;	clear:both;	font-weight: normal}
		
	/** HELP**/
ul#help {	}	
ul#help li {padding:5px 0	;list-style-type: none;}	
ul#help li a{	color: #666;text-decoration:none;font-weight: bold}
ul#help li a:hover {color: #666; text-decoration:underline;font-weight: bold}
#history  {padding:20px
		}
		
		/** HISTORY**/
	#history ul {
		}
		
	#history  li {	display: block;list-style-type: none; border-bottom:1px solid #666;padding:10px 0px 20px 10px;}

	#history  li p.title ,#history  li p.title a{font-size:11px;font-weight: bold ;clear:both}
	#history  li p.url ,#history  li p.url a{font-size:9px;font-weight: normal;clear:both}
		#history li p.date{font-size:9px;	clear:both;	font-weight: normal}
		
		
		/*home*/
		
		.logo {	background: url(bkg_home.png) no-repeat center bottom; height:530px; text-align: center}
		.icologo {padding-top:250px }
		input.submit{	background: url(btn_submit.png) no-repeat center bottom; text-align: center; border:none; height:35px; width:35px}
		input.address{	background: url(bkg_input.png) no-repeat left center; text-align: center; border:none; height:35px; width:200px; text-align:left}
	
